NODE_ENV=development

API_PORT=4000
ADMIN_PORT=3001
STOREFRONT_PORT=3000

DATABASE_URL=postgresql://orderflow:orderflow@localhost:5432/orderflow?schema=public
REDIS_URL=redis://localhost:6379

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=orderflow
MINIO_SECRET_KEY=orderflow-secret
MINIO_BUCKET=orderflow

NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
